<mat-toolbar> <h1>Recherche d'entreprise</h1> </mat-toolbar>
<div class="container">
  <mat-form-field appearance="fill">
    <mat-label>Search </mat-label>
    <input matInput placeholder="Search country by name" />
    <mat-icon class="search-icon" color="primary" matPrefix>search</mat-icon>
  </mat-form-field>

  <mat-card class="container-info">
    <mat-card-title>La sociéte //////</mat-card-title>
    <mat-card-content
      ><p>SIREN</p>
      <p>Nom entreprise</p>
      <p>Personne moral</p>
      <p>denomination</p>
      <p>code naf</p></mat-card-content
    >
  </mat-card>
</div>
