<h1>Recherche d'entreprise</h1>
<div class="container">
  <!-- Barre de recherche -->
  <div class="container-bar">
    <input
      type="text"
      placeholder="Ecrivez un nom de société"
      [(ngModel)]="searchSociety"
      (keydown.enter)="search()"
    />
    <button type="submit" (click)="search()">
      <img src="../assets/images/find-in-the-world.png" alt="" />
    </button>
  </div>
  <!-- Toute les cartes de sociétés -->
  <div class="container-society">
    <mat-card class="container-info" *ngFor="let paper of allPaperData">
      <mat-card-title>Société</mat-card-title>
      <mat-card-content
        ><p>
          Nom d'entreprise: <span>{{ paper.name }}</span>
        </p>
        <p>
          Numéro de siren: <span>{{ paper.siren }}</span>
        </p>
        <p>
          Code Naf: <span>{{ paper.codeNaf }}</span>
        </p>
        <p>
          Denomination:
          <span>{{ paper.denomination || "Aucune dénomination" }}</span>
        </p>
        <p>
          Personne moral:
          <span *ngIf="paper.person === true; else elseBlock">Oui</span
          ><ng-template #elseBlock> <span>Non</span> </ng-template>
        </p></mat-card-content
      >
    </mat-card>
  </div>
</div>
